@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    font-family: "Lato", Tahoma, sans-serif;
}

.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(59, 59, 59);
    overflow-x: hidden;
}

.sidenav a {
    padding: 10px 8px 10px 16px;
    border: #3d3d3d solid 1px;
    text-decoration: none;
    font-size: 23px;
    font-weight: 700;
    color: #bbbbbb;
    display: block;
}

.sidenav a:hover {
    background-color: white;
    color: #3d3d3d;
}

.main {
    margin-left: 230px;
    padding: 5px;
}

.chapter_title {
    font-size: 23px;
    font-weight: 400;
}

.chapter_content {
    font-size: 19px;
    font-weight: 300;
    line-height: 24px;
}

ul {
    font-size: 19px;
    font-style: italic;
}

.chapter {
    padding-top: 3px;
    margin-bottom: 60px;
}

.tip {
    font-size: 17px;
    font-style: italic;
}

img {
    margin-left: 30px;
    width: 400px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}